<div ng-app="appAmostra"  class="modal-demo">

    <div class="modal-body" id="modal-body">

        <div class="right_col" role="main" data-layout-fragment="content">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h2>Cadastro de Amostras</h2>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div ng-if="vm.mensagem" class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                            </button>
                            <strong>Atenção</strong> {{vm.mensagem}}
                        </div>
                        <form class="form-horizontal form-label-left" name="formAmostra">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label ">*Código</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="vm.amostra.codigo" required>
                                </div>
                                <label class="control-label ">Descrição</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="vm.amostra.descricao">
                                </div>
                                <label>*Cliente </label>
                                <div>
                                    <select class="select2_single form-control"
                                            ng-model="vm.amostra.cliente"
                                            ng-options="cliente.nome for cliente in vm.clientes track by cliente.id" required>
                                    </select>
                                </div>
                                <label>*Localização</label>
                                <div>
                                    <select class="select2_single form-control"
                                            ng-model="vm.amostra.localizacao"
                                            ng-options="localizacao.nome for localizacao in vm.localizacoes track by localizacao.id" required>
                                    </select>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="flat"  ng-model="vm.amostra.status"> Ativo
                                    </label>
                                    <label>
                                        <input type="checkbox" class="flat" ng-model="vm.amostra.portfolio"> Portfólio
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label>*Imagens da Amostra</label>
                                <div class="x_panel">
                                    <div class="progress" ng-show="vm.progress >= 0">
                                        <div class="progress-bar progress-bar-success progress-bar-striped"
                                             role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.progress}}%">
                                            <span class="">{{vm.progress}}% Complete (success)</span>
                                        </div>
                                    </div>

                                    <!--<span class="progress" ng-show="picFile.progress >= 0">-->
                                        <!--<div style="width:{{picFile.progress}}%"-->
                                             <!--ng-bind="picFile.progress + '%'"></div>-->
                                  <!--</span>-->

                                    <!--<img ngf-thumbnail="picFile || '/thumb.jpg'" style="height: 100%; width: 100%;" class="">-->

                                    <img style="height: 100%; width: 100%;" ng-show="picFile"
                                         ngf-thumbnail="picFile" class="thumb">
                                    <button class="btn btn-warning" ng-click="picFile = null" ng-show="picFile">
                                        <i class="fa fa-trash-o"></i>
                                        Remover
                                    </button>
                                </div>
                                <input id="uploadinput" type="file" class="hide"  file
                                       ngf-select
                                       ng-model="picFile"
                                       name="file" accept="/*" ngf-max-size="20MB" ngf-fix-orientation="true">
                                <button class="btn btn-info btn-block"
                                        onclick="document.getElementById('uploadinput').click()">
                                    <i class="fa fa-clipboard"></i> Escolher Arquivos
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!--ng-disabled="!formAmostra.$valid"-->
        <button ng-disabled="!formAmostra.$valid || vm.inSave" class="btn btn-primary" type="button" ng-click="vm.cadastrarAmostra(picFile)">
            <i ng-show="vm.inSave" class="fa fa-spinner fa-pulse fa-fw"></i>
            Salvar
        </button>
        <button class="btn btn-warning" type="button" ng-click="vm.fecharModal()">Cancelar</button>
    </div>


</div>