<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="menu_section">
        <br><br>
        <ul class="nav side-menu">
            <li><a href="home.html"><i class="fa fa-home"></i> Home </a></li>
            <li><a href="amostras.html"><i class="fa fa-image"></i> Amostras </a></li>
            <li><a href="clientes.html"><i class="fa fa-building"></i> Clientes </a></li>
            <li><a href="localizacoes.html"><i class="fa fa-search"></i> Localizações </a></li>
            <li sec:authorize="hasRole('ADMIN')"><a href="usuarios.html"><i class="fa fa-user"></i> Usuarios </a></li>
        </ul>
    </div>


</div>